body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%;
    margin: 50px auto;
}

h1 {
    color: #333333;
    margin-bottom: 20px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.login-btn, .signup-btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-btn {
    background-color: #3498db;
}

.signup-btn {
    background-color: #2ecc71;
}

.login-btn:hover, .signup-btn:hover {
    background-color: #2980b9;
}

form {
    max-width: 300px;
    width: 100%;
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

button:hover {
    background-color: #2980b9;
}

@media (max-width: 600px) {
    .container {
        padding: 20px;
    }
}
